.AllMother {
    width: 70%;
    background-color: black;
    height: 800px;
    margin: auto;
}

.InputMother {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: inherit;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    padding-top: 50px;
}

span {
    color: pink;
}

input {
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px white;
}

input:focus {
    outline: 3px solid aqua;
    box-shadow: 0 0 15px aqua;
}

button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: palevioletred;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    position: relative;
}

button::after {
    content:"";
    width: 10px;
    height: 0;
    border-radius: 5px ;
    background-color: palevioletred;
    position: absolute;
    left: -15px;
    bottom: 0px;
    transition: 0.60s ease;
}
button:hover::after{
    height: 40px;
}
h2{
    width: 200px;
    height: 50px;
    background-color: brown;
    color: white;
}
area{
    height: 150px;
    width: 250px;
    border: 1px solid red;
    color: white;
}
.ariya{
    height: 120px;
    width: 95%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border: 1px solid aqua;
    padding: 20px;
}
#AllRateShow{
    text-align: center;
    margin-top: 30px;
}
.Bmi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
#BmiShow{
    text-align: center;
    margin-top: 30px;  
}